<div class="list-group-item clearfix food item">

  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ingredient.name}}</h4>
  </div>

  <div class="pull-right">
    <img [src]="ingredient.picture" alt="bild" class="img-responsive" style="max-height: 50px;">
  </div>

  <table>
    <tr>
      <td><label for="amount">Menge:</label></td>
      <td>
        <input type="number"
               value="1"
               #amount
               id="amount"
               min="1"
               max="100"
               (focusout)="valueChanged(amount.value)"
               (input)="valueChanged(amount.value)"/>
      </td>
    </tr>
  </table>

</div>


