.pull-left, .pull-right{
  margin-top: 15px;
}

.drop {
  min-height: 300px;
  display: block;
  padding-left: 0px;
  overflow: auto;
}

.drag-list {
  overflow: auto;
  max-height:100%;
  height: 600px;
}
