ul.nav {
  background-color: green;
}
.mynav {
  padding: 5px;
  margin: 10px;
  width: 120px;
  border-radius: 8px;
}

a{
  color: white;
}

li a:hover {
  background-color: transparent;
}

.active a{
  background-color: #449d44;
}
