<div class="row">
  <div class="col-xs-12">

    <img src="{{ selectedIngredient?.pic }}" alt="" class="img-responsive">

  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <h1>{{ selectedIngredient?.name}}</h1>

  </div>
</div>


<div class="row">
  <div class="col-xs-12">

    <button class="btn btn-success">Zur Liste hinzufügen</button>
    <button class="btn btn-primary">Bearbeiten</button>
    <button class="btn btn-danger">Löschen</button>
  </div>
</div>

<hr>


<div class="row">
  <div class="col-xs-12">

    <p>{{ selectedIngredient?.energy}} kcal</p>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    Zutaten

  </div>
</div>
