<div *ngIf="switch; else elseBlock">
  <div class="row">
    <div class="col-xs-12">

      <img src="{{ selectedIngredient?.picture }}" alt="" class="img-responsive">

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <h1>{{ selectedIngredient?.name}}</h1>

    </div>
  </div>

  <hr>

  <p>
    Angaben Pro 100g
  </p>
  <table>
    <tr>
      <td>Kohlenhydrate:</td>
      <td>{{ selectedIngredient?.carb }} mg</td>
    </tr>
    <tr>
      <td>Energie:</td>
      <td>{{ selectedIngredient?.energy }} kcal</td>
    </tr>
    <tr>
      <td>Fett:</td>
      <td>{{ selectedIngredient?.fat }} mg</td>
    </tr>
    <tr>
      <td>Eiweiß:</td>
      <td>{{ selectedIngredient?.protein }} mg</td>
    </tr>
    <tr>
      <td>Ballaststoffe:</td>
      <td>{{ selectedIngredient?.ruffage }} mg</td>
    </tr>
    <tr>
      <td>Salz:</td>
      <td>{{ selectedIngredient?.salt }} mg</td>
    </tr>
    <tr>
      <td>Vitamin B6:</td>
      <td>{{ selectedIngredient?.vitaminb6 }} μg</td>
    </tr>
    <tr>
      <td>Vitamin C:</td>
      <td>{{ selectedIngredient?.vitaminc }} μg</td>
    </tr>
  </table>
</div>

<ng-template #elseBlock>
  <div>
    Bitte zuerst ein Objekt aus der Liste links wählen.
  </div>
</ng-template>
