table {
  border: none;
}

td {
  padding: 5px;
}

.card {
  background-color: #B1B2B1;
  position: fixed;
  bottom: 45px;
  left: 0px;
  padding: 15px;
  -webkit-box-shadow: 15px 17px 24px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 15px 17px 24px -1px rgba(0,0,0,0.75);
  box-shadow: 15px 17px 24px -1px rgba(0,0,0,0.75);
  border-radius: 0px 5px 5px 0px;
}

.button {
  margin-top: 5px
}
